.Admin{
    height: 100vh;
    width: 100vw;
   
}
Header{
  min-width: 800px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    h2{
      width: 400px;
    }
    .trigger {
        font-size: 18px;
        line-height: 64px;
        padding: 0 24px;
        cursor: pointer;
        transition: color 0.3s;
      }
    .trigger:hover {
        color: #1890ff;
      }
}